* {
	margin:0;
	padding:0;
}
.box {
	height:300px;
	width:300px;
	border:2px solid #333;
	margin:0;
	position:relative;
}
body {
	height:100%;
	width:100%;
}
.arrow, .target, .fadeOut {
	height:20px;
	width:20px;
	position:absolute;
	top:20px;
	left:20px;
}
.target, .fadeOut {
	top:160px;
	left:260px;
	height:40px;
	width:40px;
	background:url(../images/angrybirds.png) no-repeat;
}
.arrow {
	top:150px;
	left:0;
	background:url(../images/arrowimage.png) no-repeat;
}
.speedBar {
	width:10px;
	border:1px solid #000;
	position:absolute;
	left:5px;
	top:5px;
}
.barbox {
	height:10px;
	width:10px;
	border-bottom:1px solid #000;
}
.swap, .swap2 {
background:#3B5998;
height:20px;
width:20px;
position:absolute;
}
.selected{
	background:#FF0000;
}
.go {
	height:35px;
	padding:5px 10px;
}
.after{
background:url(../images/Angry-after1.jpg) no-repeat;
}
.scoreBox {
position:absolute;
top:0;
right:10px;
}